<div class="popup popup--{{id}} {{id}}">
  <h3 class="popup__title">{{title}}</h3>
  <form class="popup__form" method="post">
    <input type="hidden" name="action" value="create">
    {{{inputs}}}
    <button class="popup__button-submit button">Добавить</button>
  </form>

  <button class="popup__button-close" type="button" title="Esc">&#10005;</button>
</div>
