.search-input {
  min-width: 250px;
  margin-bottom: 20px;
}

.search-results {

}
  .search-results .item {
      display: none;
    }
  .search-results .search-results__founded {
      display: block;
    }

