.search-input {
  min-width: 400px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 14px;
}

.search-results {

}
  .search-results .item {
      display: none;
    }
  .search-results .search-results__founded {
      display: block;
    }

