
/*.page-header {
  display: none;
}*/
/* Shedule
------------------------------ */
.shedule {
  display: flex;
}

.shedule__content {
  min-width: 0;
}

.rooms-nav {
  padding-top: 35px;
}
  .rooms-nav__title {
    padding: 0 10px;
    padding-right: 20px;
    white-space: nowrap;
    font-weight: bold;
  }

.days-nav {
  height: 25px;
  padding-bottom: 10px;
}
  .days-nav__item {
    margin-right: 20px;
    color: #000;

    &--current {
      border: none;
    }
  }

.shedule__days {
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  overflow: auto;
  border: 1px solid $color-silver;
}

.shedule__room {

}

.shedule__cell {
  height: 45px;
  line-height: 45px;
}

.shedule__room-events {
  display: flex;
}

.rooms-events {
  position: relative;
}

.room-events__hours {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  pointer-events: none;
  border-bottom: 1px solid $color-silver;
}
.rooms-events__hour {
  min-width: 80px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 12px;
  opacity: .25;
  line-height: 1;

  &--hovered {
    opacity: 1;
  }
}
.rooms-events__mins {
  font-size: .7em;
}

.room-events__slots {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rooms-events__slot {
  min-width: 20px;
  text-align: center;
  border-right: 1px solid #DDD;
  box-sizing: border-box;
  transition: all .25s;
  filter: hue-rotate(0deg);
  cursor: pointer;

  /*&::before {
    content: attr(data-hours);
    color: crimson;
    font-size: 12px;
  }*/

  &:hover {
    background: yellowgreen;
  }

  &--has-event {
    z-index: 1;
    flex-shrink: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0,0,0,.25);

    &:hover {
      filter: hue-rotate(60deg);
    }
  }
}

.rooms-events__slot-content {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: left;
  font-size: 12px;
  line-height: 1.2;
  pointer-events: none;
}

.rooms-events__time,
.rooms-events__title {
  flex-basis: 80%;
}

.rooms-events__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rooms-events__slot--has-event:not(.rooms-events__slot--width-1) {
  .rooms-events__slot-content {
    display: flex;
  }
}
